# ----- Build / Compiled files -----

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Debug information files
*.dwo

# ----- Make / Dependency files -----
*.d

# ----- Build directories -----
build/
build/obj/
build/bin/

# ----- VSCode settings -----
.vscode/
.vscode/*

# ----- Other IDE / Editor files -----
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# ----- Windows alternate data streams -----
*:* 
*tar.gzZone.Identifier
*hZone.Identifier